# Arquivos de configuração do Finder (MacOS)
.DS_Store

# Arquivos de Log.
*.log

# Módulos do NodeJS.
node_modules/

# Diretório de cache do Parcel.
.cache/

# Diretório com os arquivos para publicação.
dist/
