# Arquivos de configuração do Finder (MacOS)
.DS_Store

# Arquivos de Log.
*.log

# Módulos do NodeJS.
node_modules/

# Diretório de cache do Parcel.
.cache/

# Diretório com os arquivos para publicação.
dist/

# Yarn
# Módulo JavaScript do Yarn Plug'n'Play.
.pnp.*

# Arquivos gerados pelo Yarn, com exceção dos plugins e versões publicadas.
.yarn/*
!.yarn/releases
!.yarn/plugins
